<div class="container">
    
    <div class="img">
        <img src="../../assets/home.gif" alt="home">
    </div>
    <div class="desc">
        <tp-writer class="messages" selector="'twp'" [options]="options"></tp-writer>
    </div>
</div>
<br>
<br>
<br>
<br>
<h2 style="margin-top: 1rem; text-align: center;color:#3f51b5 ; font-weight: 600; font-size: 25px;"><u> Home designs</u></h2>
<div class="imgContainers">
    
    <div *ngFor="let img of dreamImages">
        <img [src]="img" alt="images" width="400" height="400" style="box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;border-radius: 10px;" >
    </div>
</div>
